language: node_js
version: 1.0

node_js:
  - node

cache: yarn

script:
  - yarn ci

deploy:
  edge: true
  provider: npm
  email: accounts@francoisbest.com
  api_key:
    secure: lKVBdrr8ofS5WHysJzUFvnasg5X8qgnIUoKeHaw6m46zatipiHXVnOmQy5VnifbZl8GsZEbpEJmpxnVGqAfChb7Qny+4uxoiHOwlF/iUZnlg+9zHNWihAfPLoayTIRtMbtO1ISpFkw2eeHC32FrdzldGsifUjFd0cAfab2GmMt3Ual1N1qkBYyrcUWjsOo4up9VZ+Lx7WSMsODGVS6Qjh1TJzMiCL/Kc4uebRR5rZz/fB0njuo/ZSAWjW/hGfl5wMhoaG58/YL4RJAALFqXcmV3wo3MafaAizO8otS2SmeNUm8TMwK0mdlAKY53OmxfXFVurb7Kg4GIJXDH5ble6FEgKiz1YEO3nIh/YD74PpHFgBGrpoxFflMKfA81Zsj/g5X/VMtToyB6xxli+YVhukqS7CaN86AMkGtqCnqbhtzpqRR4qsL1Pf8VaRarTKCZiIRWb/5t4A4Dr4jrXRMTHcG28dMK42z5KA/RrQ+EXZDJNMym28BslRvBzIWreJcw0PnwqhN6ortrEHiAxjmgnYjeWP65CFViVQhHaN10utNpCE41IKwNU8RbMUy/TwZ52z0iCEIS58uzQWQ8N37n8TNt96QzNuRR/b0n+aUx/sNv5ZLuJxnOL9gg2BzaLOpr4I6biZVEb7K6T2kmYnuhW8X3NwdU7srJpW3jlqvbgI70=
  on:
    tags: true
  skip_cleanup: true

notifications:
  slack:
    rooms:
      secure: LBSYEVjAjgBduYYrp74ImDeUxk+AJfrI4ElV4Bb4ZaFobbVdUIGva4yKZT2YoVZUfoJtZWoSfGPzaRbAFQAGDBBigvRW5RpWtK4L0C+iSLOjaZdtYqZ72dP1ZQjyMFIvYTsjQEnqg3Z0CzH4jtHmpG0YKo78fTu8ilg2My13HhiXOeStYTPa4sFetfs5mR12f1KZCq3TmYSmV0BT82ly3gZRoeclyMXvKQiwpB9TxrPU5U3iZwee7bSYA7quScJQfcATEkQTK3oIGjj6ZIJToYodbQpNuZqNUkK694/s23J04C9PBLvSkumKGUq4LCssE13L3h/7105iZQ/06LpebY/Q/SoeOT5oXoVcTWv/mMHaNgMepOV1uf3xq1yz+z7HEjZ/oNILE/WJeN1W/e8qQmc0H6rP/1E96sfzPZZSRgJ1Yzr58rKcdINlexQ+2D5wPNHCQdYTucM6GyroQTOxeh9jIhajLAplFT84M8N7VhhTpMCkO/fD6XPcGSwxZH177RRGj0MvvAQBMp1TFTV2mqEHYMXIs0pFEKrIN91Mr5LIMTrBIiyR/Fxa2xKhyDK6UkJ7TvR+SG0FPv9837CVdYL+OevsE2RgUVyHPCSz9CBSbgsik4EMW9EVqM1+4yNl5EAxNFkEx2a1plVotDyASvMin8QOMGBCeRVQE0mWarc=
    on_success: change
    on_failure: always
