language: node_js
version: 1.0

node_js:
  - node

cache: yarn

script:
  - yarn ci

deploy:
  edge: true
  provider: npm
  email: accounts@francoisbest.com
  api_key:
    secure: lKVBdrr8ofS5WHysJzUFvnasg5X8qgnIUoKeHaw6m46zatipiHXVnOmQy5VnifbZl8GsZEbpEJmpxnVGqAfChb7Qny+4uxoiHOwlF/iUZnlg+9zHNWihAfPLoayTIRtMbtO1ISpFkw2eeHC32FrdzldGsifUjFd0cAfab2GmMt3Ual1N1qkBYyrcUWjsOo4up9VZ+Lx7WSMsODGVS6Qjh1TJzMiCL/Kc4uebRR5rZz/fB0njuo/ZSAWjW/hGfl5wMhoaG58/YL4RJAALFqXcmV3wo3MafaAizO8otS2SmeNUm8TMwK0mdlAKY53OmxfXFVurb7Kg4GIJXDH5ble6FEgKiz1YEO3nIh/YD74PpHFgBGrpoxFflMKfA81Zsj/g5X/VMtToyB6xxli+YVhukqS7CaN86AMkGtqCnqbhtzpqRR4qsL1Pf8VaRarTKCZiIRWb/5t4A4Dr4jrXRMTHcG28dMK42z5KA/RrQ+EXZDJNMym28BslRvBzIWreJcw0PnwqhN6ortrEHiAxjmgnYjeWP65CFViVQhHaN10utNpCE41IKwNU8RbMUy/TwZ52z0iCEIS58uzQWQ8N37n8TNt96QzNuRR/b0n+aUx/sNv5ZLuJxnOL9gg2BzaLOpr4I6biZVEb7K6T2kmYnuhW8X3NwdU7srJpW3jlqvbgI70=
  on:
    tags: true
  skip_cleanup: true

notifications:
  slack:
    rooms:
      secure: TXpju1LePsQ0dhosKT/RPbtbihRuv7Ps4N4z/iZlh+mgwpkwDdF4ERU7+nixZoZikoSEBn/+GAorlyhJgkpe37/H9WRitk1g0tz/EZDuPHvYYR0kpCijrhE8Q/d9LmCDd0FbsbCc8szSjGxowS+VIrWaNxAxMJ9EAFyXHK1LOIgeYqE2jE3hCqvRp0kgr42ICUBFlE9SmofIOhXTTMT6NawGABZZ00HvOxfom2Rvhtg5yarXgT4idKG8xD3IS+bcn0H+zZ+vY6Zkz0+XReaIS0tGiVl31A8oIzv5pgCXlS8zzGYXSHBEpmJ+aHIsDhl9epucnDvhJiThKKVrqcB8I/R6URxhm46dEmYXP+cIbRsUN54m8OUk9zgYofsQX1nnnIa2e9yE/d1xGIAjpYEyTrW3ceLGlGurXE+afZ+io6f+XNVjEAxJ04CYdyKo5cvyz0kzpEOItCKv8g6fmHFX8X6NrjYKPJdkCqKn1AnRfecyeno2gIVjfwcf0JKKE9F5RfXWCjayyktUNO8LQBgqtrqQj2ME0VbLuPZxw+rh4ZyuwGVKV6brmYtcIp/BoqNt2nOso6HZpwWZJBmPU55xDOgUlHqaF3UXjHOVyFm9S4JUoICdOQpmMeIxYqc4zL+oPojjUxAcHXAnz369xb5OKGMm3SE3NklZ7EeQsoRhiVo=
    on_success: always
    on_failure: always
    on_error: always
